.card{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px black ;
    transition: 0.5s;
}

.desc{
    padding: 0 2px 0 2px;
    /* text-align: center; */
}

img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card:hover{
    box-shadow: 0 8px 16px black;
}