.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.board-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.board-cell {
  width: 40px;
  height: 40px;
}

.zero {
  background-color: #afadad;
}

.one {
  background-color: #7a3e3e;
}

.nine {
  background-color: #352553;
}
