@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

.bowling-ball.roll-animation {
  animation: roll 2s linear forwards;
}

.bowling-ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #ffffff 0%, #000000 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.bowling-ball::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.small-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
}

.small-circle:nth-child(1) {
  top: 25px;
  left: 75px;
  background: black;
}

.small-circle:nth-child(2) {
  top: 75px;
  left: 25px;
  background: black;
}

.small-circle:nth-child(3) {
  top: 125px;
  left: 75px;
  background: black;
}

.bowling-pin {
  width: 30px;
  height: 150px;
  margin-left: 10px; /* Add some margin to separate it from the ball */
}

.bowling-pin .top {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom: 10px solid red;
}

.bowling-pin .body {
  width: 30px;
  height: 150px;
  background-color: #fff;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.roll-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
