*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.logo{
    padding: 13px;
    text-align: right;
    margin-right: 40px;
}


section.img{
    width: 100%;
    height: 100%;
    background-image: url(img/ambiente-de-fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

body{
    height: 100vh;
}
nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #11072d;
    padding: 40px 0 40px  1% ;
    box-shadow: 3px 0 0 #dc3c5d;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}
nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .2s;
}
ul li.ativo{
    background-color: #dc3c5d;
}

ul li.item-menu:hover{
    background: #dc3c5d;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
}
